/* Faz o canvas ocupar toda a tela e fundo preto */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #000; /* céu preto */
}
canvas {
    display: block; /* remove scroll e margens */
    z-index: 0; /* fica no fundo */
    position: absolute;

}
.caixa {
    position: relative;
    background-color: rgba(35, 38, 54, 0.8); /* preto com 50% de transparência */
    color: white; /* cor do texto */
    padding: 20px;
    width: fit-content;
    margin: auto;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    z-index: 1; /* garante que fique acima do canvas */

}
h2 {
    text-align: center;
}
.SI-texto{
    font-size: 200%;
    display: grid;              /* ativa o grid */
    place-items: center;        /* centraliza em ambas direções */
    height: max-content;
    color: white;
    margin: 0;
    line-height: 2;  /* evita deslocamento vertical */
    font-weight: bold;
    -webkit-text-stroke: 1px black;

}
.topo {
    position: relative;
    color: white; /* cor do texto */
    padding: 0px;
    width: 60%;
    height: 80px;
    margin: auto;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    z-index: 2; /* garante que fique acima do canvas */
    background-image: url(imagens/Screenshot_194.png);
    background-size: cover;
    background-position: center;
}
.botões {
    padding-left: 0%;
    display: flex;
    justify-content: space-between; /* distribui os botões */
    width: 100%;                    /* ocupa toda a largura */

}
.botao-topo {
  background-color: #1b2e4b;       /* cor de fundo */
  color: white;                    /* cor do texto */
  width: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 2px solid rgb(0, 0, 0);         /* stroke/contorno */
  border-radius: 5px;             /* bordas arredondadas */
  font-size: 65%;
  cursor: pointer;
  margin-bottom: 10px;             /* espaço da borda inferior da div */
}

.container {
    position: relative;
    width: 35%;              /* largura do contêiner */
    margin: 0 auto;          /* centraliza horizontalmente */
    padding: 20px;           /* espaço interno */
    background-color: rgba(255, 255, 255, 0);
    display: flex;           /* organiza as divs */
    flex-direction: column;  /* empilha verticalmente */
    gap: 20px;               /* espaço entre as divs */
}
.Português {
    gap: 50px;
}
p {
    text-indent: 30px; /* recuo de 30px no início do parágrafo */
}
.botao-download {
    text-indent: 30px;
    color: aquamarine;
}


